name: Plugin Build

on:
  push:

jobs:
  build-plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v2
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Set permission
        run: chmod +x gradlew
      - name: Run build with Gradle Wrapper
        run: ./gradlew build